.category-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 10px;
  min-width: 400px;
}

.full-width {
  width: 100%;
}

mat-dialog-actions {
  margin-bottom: 0;
  padding: 16px 24px;
}