mat-dialog-content {
    padding-top: 20px !important;
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 400px;
}

:host ::ng-deep {
    .mat-mdc-dialog-title {
        color: var(--stat-value) !important;
        font-weight: 700 !important;
    }
}
