<div class="home-container">
  <h1>Bienvenido al Gestor de Catálogo</h1>
  <div class="button-group">
    <button mat-raised-button color="primary" (click)="goToProducts()">Productos</button>
    <button mat-raised-button color="accent" (click)="goToCampaigns()">Campañas</button>
    <button mat-raised-button color="warn" (click)="goToCategories()">Categorías</button>
    <button mat-raised-button class="scraps-btn" (click)="goToScraps()">Scraps</button>
    <button mat-raised-button class="media-btn" (click)="goToMedia()">Media</button>
  </div>
</div>
